<h1>Todos</h1>

<% @todos.each do |todo| %>
<div><%= todo.description %></div>
<div><%= link_to 'Show', user_todo_path(@user, todo) %></div>
<div><%= link_to 'Edit', [:edit, @user, todo] %></div>
<div><%= link_to 'Destroy', [@user, todo], method: :delete, data: { confirm: 'Are you sure?' } %></div>
<%end%>

<br>

<button><%= link_to 'New Todo', new_user_todo_path %></button>